@import '~antd/dist/antd.css';
*{
    margin: 0px;
    padding: 0px;
    
}
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.container-fluid {
    margin: 0 auto;
    /* max-width: 1200px; */
    padding: 0 15px;
    background-color:#fff;
}
.head h1{
    background-color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 45px;
    color: rgb(0,21,41);
    margin-bottom: 40px;
    padding-top: 40px;
}
.head:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
}
/* ================== Landing CSS starts here ============== */

.main-page-header 
{
    width: 100%;
    padding: 60px 0px;
    /* text-align: center; */
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    height: calc(100vh - 90px);
    background-image: url('../../../assests/backgroundImages/landing_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.container {
    width: 100%;
    margin: 0 auto;
    /* height: 100%; */
    height: calc(100vh - 90px);
    background: rgba(0, 0, 0, 0.4);
    padding: 60px 0px;
    /* text-align: center; */
    display: flex;
    display: -ms-flexbox;
    align-items: center;
}
.page-header-content
{
    /* width: 50%; */
    margin-left: 50PX;
}
.main-page-header .page-header-content h1 {
    font-size: 60px;
    color: #252B33;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: -1px;
    margin-bottom: 50px;
    margin-top: 0px;
    color: #fff;
}
.main-page-header .page-header-content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0px;
    color: #fff;
}

/* ---------- landing CSS ends here-------- */

/* =============================== Hire Developers CSS starts here ================= */
.hire-developers
{
    width: 100%;
    /* margin-top: 50px; */
    height: calc(100vh - 90px);
    background-color: #fff;
    color: rgb(0,21,41);
}
.hire-developers-image
{
    height: calc(100vh - 90px);
}
.hire-developers-text
{
    font-size: 20px;
    background-color: #fff;
    height: calc(100vh - 90px);
    padding: 200px 50px 200px 0px;
    color: rgb(0,21,41);
}
.hire-developers-text h1
{
    font-size: 45px;
    color: rgb(0,21,41);
}
.hire-developers-text p{

    color: rgb(0,21,41);
}

/* ---------------- Hire Developers ends here --------------------------- */


/* ================================ application-development process section starts here ======================== */
.application-development{
    color: rgb(0,21,41);
    background-color: #fff;    
}

.application-development-title{
    font-size: 24px;
    color: rgb(0,21,41);
    font-weight: bold;
}

/* --------------------------------- Application development process section ends here -------------------------- */

/* ================== Core Services section starts here =================== */
.core-services
{
    padding: 0 50px;
    padding-bottom: 40px;
}
.core-services .ant-card-meta-title{
    color: rgb(0,21,41);
    font-size: 24px;
}
.core-services .ant-card-meta-description{
    font-size: 17px;
}
.ant-card-bordered {
    border: 2px solid rgb(66, 80, 94);
}













@media only screen and (max-width: 992px)
{
    .main-page-header 
    {
        height: auto;
        padding: 150px 0;
    }
    .container
    {
        max-width: 100%;
    }
    .page-header-content {
        padding: 0px;
    }
}

@media only screen and (max-width: 1024px)
{
    .container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


