@import '~antd/dist/antd.css';


/* style={{ padding: 24, minHeight: 360, background:'white' }} */

.site-layout {
    background-color: white;
}

.site-layout .content-area {
    padding: 0;
}

.site-layout .content-area .section1 {
width: 100%;
background: white;
height: 500px;
padding: 0 10px;
}

.section1-partition-image {
    width: 50%;
    float: right;
    height: 100%;
}
.section1-partition-text {
    width: 50%;
    height: 100%;
    padding: 5px 5px;
}
.section1-text-heading {
    width: 100%;
    height: 50px;
}
.section1-text-heading p {
    /* display: inline-block; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    padding-top: 20px;
/* identical to box height */

    text-align: center;

    color: #000000;

    text-shadow: 7px 7px 30px #141935;
}

.section1-text-content {
    /* display: inline-block; */
    width: 100%;
    overflow:auto;
    height: 70%;
    color: #000000;
}
.site-layout .content-area .section1 .section1Image{
    width: 100%;
    height: 100%;
    float: right;
    padding: 0;
    
}

.clickHere-button {
    width: 200px;
    height: 50px;
    padding-bottom: 5px;
    color: whitesmoke;
    align-items: center;
    background: #141935;
    box-shadow: inset 7px 7px 20px rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

/* Section2 */
.section2 {
/* position: absolute; */
width: 100%;
height: 500px;
background: #141935;
/* box-shadow: inset 7px 7px 21px rgba(240, 240, 240, 0.5); */
}

.section2-image {
    width: 50%;
    float: left;
    height: 100%;
    padding-right:10px;
    border-radius: 50px;
    /* background-color: antiquewhite; */
}

.section2-textContent {
    /* position: absolute; */
    width: 50%;
    height: 100%;
    padding:10px;
    border-radius: 50px;
    background-color: white;
    float: right;
    /* align-items: center; */
    overflow: auto;
    /* color: whitesmoke; */
}

.section2-textContent .section2-headingText {
    /* display: inline-block; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    /* align-items: center; */
    font-size: 32px;
    line-height: 30px;
    padding: 10px;
/* identical to box height */

    text-align: center;

    color: #000000;

    text-shadow: 7px 7px 30px #141935;
}
/* Section3 */
.section3 {
    width: 100%;
    height: auto;
    /* margin: auto; */
    background: white;
    color:white
}

.section3-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    color: #000000;
    text-shadow: 7px 7px 30px #141935;
    height: auto;
}

.section3-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: auto;
    padding: 10px;
    color: #000000;
}
.section3-innerCard {
    background-color: #141935;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 10%;
    color: white;
    height: auto;
    /* box-shadow: inset 7px 7px 20px rgba(255, 255, 255, 0.25); */
/* border-radius: 50px */
}
.section3-innerCard-image {
    height: auto;
    /* width: 100px; */
}
.section3-innerCard-image >img {
    height: auto;
    width: 30%;
}
.section3-innerCard-image-long {
    height: 40%;
    /* width: 100px; */
    border-radius: 5px;
}
.section3-innerCard-image-long >img {
    height: 100%;
    width: 100%;
    /* padding: 10px; */
    border-radius: 10%;
    padding: 0px 10px;
}
.section3-innerCard-long > #content {
    font-size: 15px;
    padding: 5px;
    font-family: Roboto;
}
.section3-innerCard > #heading {
    height: auto;
    padding-bottom: 0px;
    padding-top: 5px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.section3-cards-long {
    /* display: grid; */
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 33%;
    max-width: 500px;
    height: auto;
    padding: 5px;
    float: left;
    /* margin: auto; */
    align-content: center;
    color: #000000;
    /* border-radius: 50%; */
}
.section3-innerCard-long {
    background-color: #141935;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 30px;
    color: white;
    height: 500px;
    /* box-shadow: inset 7px 7px 20px rgba(255, 255, 255, 0.25); */
/* border-radius: 50px */
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }